In [1]:
import pandas as pd
import numpy as np
from scipy.stats import mode

In [2]:
data_sales = pd.read_csv('sales.csv',parse_dates=['date'])

C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data_product_hierarchy = pd.read_csv('product_hierarchy.csv')

In [4]:
data_store_cities = pd.read_csv('store_cities.csv')

## Filling Nas for product hierarchy

In [5]:
data_product_hierarchy['product_length'].fillna(data_product_hierarchy['product_length'].mean(),inplace = True)
data_product_hierarchy['product_depth'].fillna(data_product_hierarchy['product_depth'].mean(),inplace = True)
data_product_hierarchy['product_width'].fillna(data_product_hierarchy['product_width'].mean(),inplace = True)
data_product_hierarchy['cluster_id'].fillna(mode(data_product_hierarchy['cluster_id'])[0][0],inplace = True)

In [6]:
data_product_hierarchy.isnull().sum()

product_id        0
product_length    0
product_depth     0
product_width     0
cluster_id        0
hierarchy1_id     0
hierarchy2_id     0
hierarchy3_id     0
hierarchy4_id     0
hierarchy5_id     0
dtype: int64

## Filling Nas for price

In [7]:
dict_price = {}
for i, x in enumerate(data_sales['product_id']):
    if (x not in dict_price.keys() and not(np.isnan(data_sales['price'][i]))):
        dict_price[x]=data_sales['price'][i]

In [8]:
data_sales.price = data_sales.price.fillna(data_sales.product_id.map(dict_price))

data_sales.isna().sum()

product_id                      0
store_id                        0
date                            0
sales                     1190762
revenue                   1190762
stock                     1190762
price                       10444
promo_type_1                    0
promo_bin_1              16803149
promo_type_2                    0
promo_bin_2              19395757
promo_discount_2         19395757
promo_discount_type_2    19395757
dtype: int64

In [9]:
data_sales['price'].fillna(data_sales['price'].mean(),inplace = True)

# Filling sales,revenue,stock and price by

In [10]:
data_sales.isna().sum()

product_id                      0
store_id                        0
date                            0
sales                     1190762
revenue                   1190762
stock                     1190762
price                           0
promo_type_1                    0
promo_bin_1              16803149
promo_type_2                    0
promo_bin_2              19395757
promo_discount_2         19395757
promo_discount_type_2    19395757
dtype: int64

## Filling Nas for promos

In [11]:
data_sales['promo_bin_1'].fillna(0,inplace= True)
data_sales['promo_bin_2'].fillna(0,inplace= True)
data_sales['promo_discount_2'].fillna(0,inplace= True)
data_sales['promo_discount_type_2'].fillna(0,inplace= True)

In [12]:
data_sales.dropna(inplace=True)

In [13]:
data_sales.isna().sum()

product_id               0
store_id                 0
date                     0
sales                    0
revenue                  0
stock                    0
price                    0
promo_type_1             0
promo_bin_1              0
promo_type_2             0
promo_bin_2              0
promo_discount_2         0
promo_discount_type_2    0
dtype: int64

## Categorical to Numerical

#### promo_type_1

In [14]:
data_sales['promo_type_1'].unique()

array(['PR14', 'PR05', 'PR10', 'PR03', 'PR06', 'PR07', 'PR12', 'PR17',
       'PR08', 'PR13', 'PR09', 'PR16', 'PR15', 'PR01', 'PR18', 'PR11',
       'PR04'], dtype=object)

In [15]:
encode_dict_type_1 = {
    'PR01':1,
    'PR03':3,
    'PR04':4,
    'PR05':5,
    'PR06':6,
    'PR07':7,
    'PR08':8,
    'PR09':9,
    'PR10':10,
    'PR11':11,
    'PR12':12,
    'PR13':13,
    'PR14':14,
    'PR15':15,
    'PR16':16,
    'PR17':17,
    'PR18':18
}

data_sales['promo_type_1'].replace(encode_dict_type_1,inplace=True)

#### promo_bin_1

In [16]:
data_sales['promo_bin_1'].unique()

array([0, 'high', 'verylow', 'veryhigh', 'moderate', 'low'], dtype=object)

In [17]:
encode_dict = {
    'verylow':1,
    'low':2,
    'moderate':3,
    'high':4,
    'veryhigh':5
}

data_sales['promo_bin_1'].replace(encode_dict,inplace=True)

#### promo_type_2

In [18]:
data_sales['promo_type_2'].unique()

array(['PR03', 'PR02', 'PR01', 'PR04'], dtype=object)

In [19]:
encode_dict_type_2 = {'PR01':1,
                     'PR02':2,
                     'PR03':3,
                     'PR04':4}

data_sales['promo_type_2'].replace(encode_dict_type_2,inplace=True)

#### promo_bin_2

In [20]:
data_sales['promo_bin_2'].unique()

array([0, 'verylow', 'high', 'veryhigh'], dtype=object)

In [21]:
encode_dict_bin_2 = {
    'verylow':1,
    'low':2,
    'high':3,
    'veryhigh':4
}


data_sales['promo_bin_2'].replace(encode_dict_bin_2,inplace=True)

#### promo_discount_type_2

In [22]:
data_sales['promo_discount_type_2'].unique()

array([0, 'PR04', 'PR02', 'PR01', 'PR03'], dtype=object)

In [23]:
encode_discount_type_2 = {'PR01':1,
                     'PR02':2,
                     'PR03':3,
                     'PR04':4}

data_sales['promo_discount_type_2'].replace(encode_discount_type_2,inplace=True)

## Weekly Data Conversion

In [51]:
#Converting to weekly data

weekly_data = data_sales.groupby(['product_id','store_id']).resample('W', label='right', closed = 'right', on='date').sum().reset_index()
weekly_data

,product_id,store_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
0,P0001,S0001,2017-02-12,2.0,11.02,0.0,13.0,28,0,6,0,0.0,0
1,P0001,S0001,2017-02-19,0.0,0.00,0.0,0.0,0,0,0,0,0.0,0
2,P0001,S0001,2017-02-26,1.0,5.51,0.0,6.5,14,0,3,0,0.0,0
3,P0001,S0001,2017-03-05,0.0,0.00,0.0,0.0,0,0,0,0,0.0,0
4,P0001,S0001,2017-03-12,0.0,0.00,0.0,0.0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2967854,P0748,S0142,2019-10-06,2.0,35.00,119.0,132.3,98,0,21,0,0.0,0
2967855,P0748,S0142,2019-10-13,0.0,0.00,112.0,132.3,98,0,21,0,0.0,0
2967856,P0748,S0142,2019-10-20,0.0,0.00,112.0,132.3,98,0,21,0,0.0,0
2967857,P0748,S0142,2019-10-27,0.0,0.00,112.0,132.3,98,0,21,0,0.0,0
2967858,P0748,S0142,2019-11-03,0.0,0.00,64.0,75.6,56,0,12,0,0.0,0

In [52]:
weekly_data = weekly_data.drop(['price'],axis = 1)

In [53]:
price = []
for x in weekly_data['product_id']:
    if x in dict_price.keys():
        price.append(dict_price[x])
    else :
        price.append(np.nan)

weekly_data['price'] = price
weekly_data['price'].fillna(method = 'ffill',inplace = True)

In [54]:
sales_sorted = weekly_data.sort_values(by=['sales'],ascending=False)

sales_sorted

,product_id,store_id,date,sales,revenue,stock,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2,price
361961,P0103,S0097,2017-04-16,43396.0,84448.191,627.0,98,0,21,0,0.0,0,2.65
361955,P0103,S0097,2017-03-05,27725.0,52667.809,452.0,98,0,21,0,0.0,0,2.65
361954,P0103,S0097,2017-02-26,27707.0,52622.002,280.0,98,0,21,0,0.0,0,2.65
361951,P0103,S0097,2017-02-05,13885.0,26387.440,368.0,98,0,21,0,0.0,0,2.65
361952,P0103,S0097,2017-02-12,13883.0,26377.551,486.0,98,0,21,0,0.0,0,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278223,P0328,S0070,2019-07-14,0.0,0.000,63.0,98,0,21,0,0.0,0,13.00
1278222,P0328,S0070,2019-07-07,0.0,0.000,63.0,98,0,21,0,0.0,0,13.00
1278221,P0328,S0070,2019-06-30,0.0,0.000,63.0,98,0,21,0,0.0,0,13.00
1278220,P0328,S0070,2019-06-23,0.0,0.000,63.0,98,0,21,0,0.0,0,13.00
2967858,P0748,S0142,2019-11-03,0.0,0.000,64.0,56,0,12,0,0.0,0,18.90

In [61]:
sales_sorted = weekly_data.sort_values(by=['sales'],ascending=False)

sales_sorted.head(5)

,product_id,store_id,date,sales,revenue,stock,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2,price
361961,P0103,S0097,2017-04-16,43396.0,84448.191,627.0,98,0,21,0,0.0,0,2.65
361955,P0103,S0097,2017-03-05,27725.0,52667.809,452.0,98,0,21,0,0.0,0,2.65
361954,P0103,S0097,2017-02-26,27707.0,52622.002,280.0,98,0,21,0,0.0,0,2.65
361951,P0103,S0097,2017-02-05,13885.0,26387.440,368.0,98,0,21,0,0.0,0,2.65
361952,P0103,S0097,2017-02-12,13883.0,26377.551,486.0,98,0,21,0,0.0,0,2.65

##### Product P0103 and Store S0097 have more sales in the given week

In [62]:
store_high_sales = weekly_data.groupby(['store_id']).sum()

store_high_sales.sort_values(by=['sales'],ascending=False).head(5)

,sales,revenue,stock,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2,price
store_id,,,,,,,,,,
S0085,432608.517,2156037.860,1.073722e+07,4182351,108621,975848,877,12456.0,969,1110328.67
S0097,322597.646,1488854.262,5.886279e+06,3588014,97047,836727,778,10941.0,875,781546.74
S0026,218628.704,1317370.030,5.073888e+06,3427446,91329,798455,788,11114.0,882,705836.80
S0062,208001.063,1299166.320,5.335818e+06,3446942,93092,803410,839,11843.0,926,711746.74
S0038,203208.971,1027630.080,9.239523e+06,4294213,113146,1001872,834,11914.0,938,1109437.01

##### Store S0085 have more sales in the given Dataset

In [63]:
store_high_sales = weekly_data.groupby(['product_id']).sum()

store_high_sales.sort_values(by=['sales'],ascending=False).head(5)

,sales,revenue,stock,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2,price
product_id,,,,,,,,,,
P0103,881634.0,2670199.663,10196627.0,1568250,26912,383653,524,10480.0,2096,50575.25
P0438,565348.0,217294.200,4197712.0,1210146,0,259317,0,0.0,0,3274.75
P0364,277763.0,312163.560,4493133.0,1827984,4980,399390,1476,16236.0,492,19571.00
P0051,236744.0,175127.540,6003624.0,1642997,20216,360204,0,0.0,0,13042.40
P0388,215487.0,323230.500,186520.0,499548,0,107046,0,0.0,0,19497.00

##### Product P0103  have more sales in the Given dataset

In [64]:
# Encode Remaining Labels

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
weekly_data['product_id'] = le.fit_transform(weekly_data['product_id'])
weekly_data['store_id'] = le.fit_transform(weekly_data['store_id'])
weekly_data['date'] = le.fit_transform(weekly_data['date'])

In [65]:
sales_kmeans = weekly_data.drop(['date','price','promo_type_1','promo_bin_1','promo_type_2','promo_bin_2','promo_discount_2','promo_discount_type_2'],axis = 1)
sales_kmeans.head(5)

   product_id  store_id  sales  revenue  stock
0           0         0    2.0    11.02    0.0
1           0         0    0.0     0.00    0.0
2           0         0    1.0     5.51    0.0
3           0         0    0.0     0.00    0.0
4           0         0    0.0     0.00    0.0

# Cluster Analysis

In [ ]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters=5)

km.fit_predict(sales_kmeans)

In [ ]:
from sklearn.metrics import silhouette_score

score = silhouette_score(sales_kmeans, km.labels_, metric='euclidean')

print('Silhouetter Score: %.3f' % score)